@import 'shared/fonts.scss';
@import 'index.scss';
@import 'header.scss';
@import 'about.scss';

html,body{
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.self-typed{
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #feff26;
}

.absolute{
  position: absolute;
}

.base-page{
  padding-top: 150px;
}

