@import '/shared/_fonts.scss';
@import 'index.scss';

html,body{
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.self-typed{
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #feff26;
}

